<ion-header>
  <ion-toolbar  color="primary">
    <ion-icon name="chevron-back" routerLink="/home"></ion-icon>
    <ion-title class="intro">Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informacion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aplicacion desarrollada por Azul Gonzalez. 
      A continuacion puede consultar mas informacion.
    </ion-card-content>
    <ion-button expand="full" color="light" routerLink="/curriculum">
      <ion-icon name="book-outline"></ion-icon>
      Curriculum vitae
    </ion-button>
    <ion-button expand="full" color="light" href="mailto:azulgonzzalez@gmail.com">
      <ion-icon name="mail"></ion-icon>
      Correo: azulgonzzalez@gmail.com
    </ion-button>
    <ion-button expand="full" color="light" href="https://twitter.com/Azulgonzzalez1" target="_blank">
      <ion-icon name="logo-twitter"></ion-icon>
      Twitter: azulgonzzalez1
    </ion-button>
    <ion-button expand="full" color="light" href="tel:+542996231318">
      <ion-icon name="call"></ion-icon>
      Telefono: 2996231318
    </ion-button>
  </ion-card>
</ion-content>