<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Biblioteca
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-app>
    <ion-content fullscreen>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Bienvenido a iBiblioteca!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          iBiblioteca es una aplicacion desarrollada con ionic que permite gestionar una biblioteca de un centro
          educativo.
          Para acceder a la biblioteca pulsa en el siguiente boton:
        </ion-card-content>
        <ion-button  expand="block">A block button</ion-button>
      </ion-card>
    </ion-content>

  </ion-app>
</ion-content>